<h2 id="transactionalkeyvaluestore">Transactional Key Value Store</h2>

<p>The assignment is to build an interactive command line interface to a transactional key value store. A user should be able to compile and run this program and get an interactive shell with a prompt where they can type commands. The user can enter commands to set/get/delete key/value pairs and count values. All values can be treated as strings, no need to differentiate by type. The key/value data only needs to exist in memory for the session, it does not need to be written to disk.</p>

<p>The interface should also allow the user to perform operations in transactions, which allows the user to commit or roll back their changes to the key value store. That includes the ability to nest transactions and roll back and commit within nested transactions. The solution shouldn&#8217;t depend on any third party libraries. The interface should support the following commands:</p>

<h2 id="supportedcommands">Supported Commands</h2>

<pre><code>SET &lt;key&gt; &lt;value&gt; // store the value for key
GET &lt;key&gt;         // return the current value for key
DELETE &lt;key&gt;      // remove the entry for key
COUNT &lt;value&gt;     // return the number of keys that have the given value
</code></pre>

<h2 id="examples">Examples</h2>

<p>Set and get a value:</p>

<pre><code>SET foo 123
GET foo
=&gt; 123
</code></pre>

<p>Delete a value:</p>

<pre><code>DELETE foo
GET foo
=&gt; key not set
</code></pre>

<p>Count the number of occurrences of a value:</p>

<pre><code>SET foo 123
SET bar 456
SET baz 123
COUNT 123
=&gt; 2

COUNT 456
=&gt; 1
</code></pre>

<h2 id="criteriaandnotes">Criteria and Notes</h2>

<ul>
<li>The application commands (<code>GET</code>, <code>SET</code>, etc) should be case sensitive</li>
<li>Data does not need to be saved to disk. It should only exist during the runtime of the toy application</li>
<li>This application should not accept multiline input</li>
<li>This should function as an interactive application on the command line</li>
</ul>
